<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Scripts/Angular/angular.min.js"></script>
    <script src="../Scripts/Angular/app.js"></script>
    <script src="../Scripts/Angular/ctrlHome.js"></script>
    <link rel="stylesheet" href="../Styles/global.css">
    <title>Mayara's Birthday Countdown</title>
</head>
<body ng-app="app" ng-cloak>
    <div ng-controller="HomeController as ctrlHome">
        <header>
            <span>{{Title}}</span>
        </header>

        <div class="main" ng-if="days">

            <div class="cube">
                <div class="time">
                    <h2>{{days}}</h2>
                    <h3>DAYS</h3>
                </div>  
            </div>
            <div class="cube">
                <div class="time">
                    <h2>{{hours}}</h2>
                    <h3>HOURS</h3>
                </div>
            </div>
            <div class="cube">
                <div class="time">
                    <h2>{{minutes}}</h2>
                    <h3>MINUTES</h3>
                </div>
            </div>
            <div class="cube">
                <div class="time">
                    <h2>{{seconds}}</h2>
                    <h3>SECONDS</h3>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>