* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: #484861;
    color: #fff;
}

header {
    font-weight: bold;
    font-size: 1.2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid;
}

h2 {
    font-size: 5em;
}

main {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    flex-wrap: wrap;
}

.time h3 {
    color: darkgrey;
}

/* .cube {
    background: #ececec;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px #212121;
    width: 12rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
   font-size: 60%;
} */